html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.banner {
  position: relative;
}

div {
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  position: absolute;
  width: 100%;
  max-width: 50em;
  top: 5px;
  left: 25px;
  bottom: auto;
}

.banner-content h2 {
  text-align: left;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  position: absolute;
  transform: none;
  top: 5px;
  left: 25px;
  bottom: auto;
}

.banner-content p {
  text-align: left;
  margin: 0;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  position: absolute;
  top: 200px;
   left: 25px;
}
