html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.banner {
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  position: absolute;
  max-width: 50em;
  width: 100%;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.banner-content h2 {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  display: inline;
}

.banner-content p {
  text-align: left;
  margin: 0;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}
